         @media (min-width:1991px) {
             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 400px;
                 height: 60%;
                 margin: 0 auto;
             }

             .hero-phone .phone-mockup {
                 width: 100%;
                 height: 100%;
                 position: relative;
                 display: inline-block;
                 left: 0;
                 top: 0;
             }

             .phone-mockup img {
                 display: block;
                 max-width: 100%;
                 height: auto;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 120%;
                 left: 50%;
             }

             .smile-text h1 {
                 font-size: 100px;
             }

             .smile-phones {
                 position: relative;

             }

             .half-phone {
                 position: absolute;
                 bottom: 0;
                 transform: translateX(-50%);
                 height: 300px;

             }

             .smile-phones .phone-mockup img {
                 height: 400px;

             }

             .testimonial {
                 margin: auto;
             }

             .final-smile-text .smile-text-final {
                 font-size: 30px;
                 line-height: 38px;
                 max-width: 82%;
             }
         }


         /* 1800px to 1990px  */
         @media (min-width: 1800px) and (max-width: 1990px) {
             .container {
                 max-width: 2400px;
                 padding: 0 40px;
             }

             .hero-text h1 {
                 font-size: 100px;
                 line-height: 100px;
                 max-width: 850px;
             }

             .hero-description {
                 font-size: 32px;
                 line-height: 45px;
             }

             .cta-button {
                 width: 420px;
                 height: 105px;
                 font-size: 38px;
                 border-radius: 15px;
             }


             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 300px;
                 height: 60%;
                 margin: 0 auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 width: 420px;
                 height: 115px;
                 font-size: 28px;
                 padding: 14px 22px;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 70%;
                 left: 50%;
             }


             .section-header {
                 font-size: 55px;
                 line-height: 100px;
             }

             .section-header p {
                 font-size: 32px;
             }

             .feature-card {
                 width: 550px;
                 height: 290px;
                 padding: 50px;
             }

             .feature-card h3 {
                 font-size: 32px;
             }

             .feature-card p {
                 font-size: 22px;
                 line-height: 40px;
             }

             .connection-text h1 {
                 font-size: 75px;
                 line-height: 100px;
             }

             .connection-text p {
                 font-size: 25px;
                 line-height: 40px;
             }

             .connection-feature {
                 width: 880px;
                 height: 195px;
                 padding: 40px;
             }

             .connection-feature h4 {
                 font-size: 38px;
                 line-height: 44px;
             }

             .connection-feature p {
                 font-size: 25px;
                 line-height: 40px;
             }

             .installation h2 {
                 font-size: 95px;
                 line-height: 100px;
             }

             .installation .container .p {
                 width: 1400px;
                 font-size: 25px;
                 line-height: 40px;
             }

             .step-number {
                 font-size: 60px;
                 line-height: 65px;
             }

             .step {
                 width: 550px;
                 height: 225px;
                 padding: 60px 44px;
             }

             .step h3 {
                 font-size: 38px;
                 line-height: 44px;
             }

             .step p {
                 font-size: 25px;
                 line-height: 40px;
             }

             .smile-text h1 {
                 font-size: 80px;
                 line-height: 110%;
             }

             .smile-text p {
                 font-size: 24px;
                 line-height: 48px;
             }

             .smile-phones {
                 position: relative;
             }

             .half-phone {
                 position: absolute;
                 bottom: 0;
                 transform: translateX(-50%);
                 height: 200px;

             }

             .smile-phones .phone-mockup img {
                 height: 300px;

             }

             .testimonials h2 {
                 font-size: 90px;
                 line-height: 110%;
             }

             .testimonial {
                 max-width: 570px;
                 padding: 42px 34px;
                 margin: auto;
             }

             .testimonial p {
                 font-size: 32px;
             }

             .user span {
                 font-size: 32px;
             }

             .see-more {
                 width: 420px;
                 height: 125px;
                 font-size: 38px;
                 border-radius: 22px;
             }

             .final-smile-text .smile-text-final {
                 font-size: 30px;
                 line-height: 38px;
                 max-width: 82%;
             }
         }

         /* 1600px to 1799px  */
         @media (min-width: 1600px) and (max-width: 1799px) {
             .container {
                 max-width: 2200px;
                 padding: 0 35px;
             }

             .hero-text h1 {
                 font-size: 100px;
                 line-height: 100px;
                 max-width: 800px;
             }

             .hero-description {
                 font-size: 28px;
                 line-height: 42px;
             }

             .cta-button {
                 width: 400px;
                 height: 100px;
                 font-size: 36px;
                 border-radius: 14px;
             }

             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 300px;
                 height: 60%;
                 margin: 0 auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 width: 420px;
                 height: 115px;
                 font-size: 28px;
                 padding: 14px 22px;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 70%;
                 left: 50%;
             }

             .section-header h2 {
                 font-size: 80px;
             }

             .section-header {
                 font-size: 70px;
                 line-height: 95px;
             }

             .section-header p {
                 font-size: 30px;
             }

             .features-grid {
                 grid-template-columns: repeat(3, 1fr);
                 gap: 40px;
                 margin-bottom: 80px;
             }

             .feature-card {
                 width: 500px;
                 height: 280px;
                 padding: 48px;
             }

             .feature-card h3 {
                 font-size: 30px;
             }

             .feature-card p {
                 font-size: 20px;
                 line-height: 38px;
             }

             .connection-text h1 {
                 font-size: 70px;
                 line-height: 95px;
             }

             .connection-text p {
                 font-size: 24px;
                 line-height: 38px;
             }

             .connection-feature {
                 width: 850px;
                 height: 190px;
                 padding: 38px;
             }

             .connection-feature h4 {
                 font-size: 36px;
                 line-height: 42px;
             }

             .connection-feature p {
                 font-size: 24px;
                 line-height: 38px;
             }

             .installation h2 {
                 font-size: 90px;
                 line-height: 95px;
             }

             .installation .container .p {
                 width: 1300px;
                 font-size: 24px;
                 line-height: 38px;
             }

             .step-number {
                 font-size: 58px;
                 line-height: 62px;
             }

             .steps {
                 grid-template-columns: repeat(3, 1fr);
                 gap: 40px;
                 margin-top: 40px;
             }

             .step {
                 width: 500px;
                 height: 220px;
                 padding: 58px 42px;
             }

             .step h3 {
                 font-size: 36px;
                 line-height: 42px;
             }

             .step p {
                 font-size: 24px;
                 line-height: 38px;
             }

             .smile-text h1 {
                 font-size: 90px;
                 line-height: 110%;
             }

             .smile-text p {
                 font-size: 28px;
                 line-height: 35px;
             }

             .smile-phones {
                 position: relative;
             }

             .half-phone {
                 position: absolute;
                 bottom: 0;
                 transform: translateX(-50%);
                 height: 200px;

             }

             .smile-phones .phone-mockup img {
                 height: 300px;

             }

             .testimonials h2 {
                 font-size: 85px;
                 line-height: 110%;
             }

             .testimonial {
                 max-width: 494px;
                 height: auto;
                 padding: 40px 32px;
                 margin: auto;
             }

             .testimonial p {
                 font-size: 24px;

             }

             .user span {
                 font-size: 30px;
             }

             .see-more {
                 width: 400px;
                 height: 120px;
                 font-size: 36px;
                 border-radius: 20px;
             }

             .final-smile-text .smile-text-final {
                 font-size: 28px;
                 line-height: 35px;
                 max-width: 80%;
             }
         }

         @media (min-width: 1400px) and (max-width: 1599px) {
             .container {
                 max-width: 2000px;
                 padding: 0 30px;
                 margin-inline: 100px;
             }

             .hero-text h1 {
                 font-size: 74px;
                 line-height: 100px;
                 max-width: 750px;

             }

             .hero-description {
                 font-size: 24px;
                 line-height: 40px;
             }

             .cta-button {
                 width: 300px;
                 height: 95px;
                 font-size: 30px;
                 border-radius: 13px;
             }

             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 300px;
                 height: 60%;
                 margin: 0 auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 width: 420px;
                 height: 115px;
                 font-size: 28px;
                 padding: 14px 22px;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 70%;
                 left: 50%;
             }

             .section-header {
                 font-size: 50px;
             }


             .section-header p {
                 font-size: 28px;
             }

             .features-grid {
                 display: grid;
                 grid-template-columns: repeat(3, 1fr);
                 margin-bottom: 100px;
                 margin: auto;
             }

             .feature-card {
                 width: 400px;
                 height: 280px;
                 padding: 45px;
                 margin: auto;

             }

             .feature-card h3 {
                 font-size: 22px;
             }

             .feature-card p {
                 font-size: 14px;
                 line-height: 36px;
             }

             .connection-text h1 {
                 font-size: 55px;
                 line-height: 90px;
             }

             .connection-text p {
                 font-size: 20px;
                 line-height: 36px;
             }

             .connection-feature {
                 width: 620px;
                 height: 185px;
                 padding: 36px;
             }

             .connection-feature h4 {
                 font-size: 30px;
                 line-height: 40px;
             }

             .connection-feature p {
                 font-size: 20px;
                 line-height: 36px;
             }

             .phone-left {
                 margin-left: -200px;
             }

             .phone-right {
                 margin-right: -100px;
             }

             .installation h2 {
                 font-size: 85px;
                 line-height: 90px;
             }

             .installation .container .p {
                 width: 1200px;
                 font-size: 23px;
                 line-height: 36px;
             }

             .step-number {
                 font-size: 36px;
                 line-height: 40px;
             }

             .steps {
                 grid-template-rows: 1fr;
                 gap: 30px;
             }

             .step {
                 width: 100%;
                 max-width: 500px;
                 height: auto;
                 margin: 0 auto;
                 padding: 40px 30px;
             }

             .step h3 {
                 font-size: 24px;
                 line-height: 28px;
             }

             .step p {
                 font-size: 16px;
                 line-height: 24px;
             }

             /* Smile Section */
             .smile-text h1 {
                 font-size: 72px;
                 line-height: 110%;
             }

             .smile-text p {
                 font-size: 20px;
                 line-height: 32px;
                 max-width: 80%;
             }

             .smile-phones {
                 position: relative;
             }

             .half-phone {
                 position: absolute;
                 bottom: 0;
                 transform: translateX(-50%);
                 height: 200px;

             }

             .smile-phones .phone-mockup img {
                 height: 300px;

             }

             /* testimonial */
             .testimonials-grid {
                 display: grid;
                 grid-template-columns: repeat(3, 1fr);
                 gap: 1.5rem;
                 margin-bottom: 3rem;
             }


             .testimonials h2 {
                 font-size: 80px;
                 line-height: 110%;
             }

             .testimonial {
                 max-width: 530px;
                 padding: 38px 30px;
                 margin: auto;
             }

             .testimonial p {
                 font-size: 20px;
             }

             .user span {
                 font-size: 28px;
             }

             .see-more {
                 width: 380px;
                 height: 115px;
                 font-size: 35px;
                 border-radius: 18px;
             }

             .final-smile-text .smile-text-final {
                 font-size: 26px;
                 line-height: 42px;
                 max-width: 88%;
             }
         }


         /*  1200px to 1399px  */
         @media (min-width: 1200px) and (max-width: 1399px) {
             .container {
                 max-width: 100%;
                 padding: 0 20px;
                 margin-inline: 100px;
             }

             /* Header */
             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 500px;
                 height: 60%;
                 margin: 0 auto;
             }

             .hero-text h1 {
                 font-size: 74px;
                 line-height: 90px;
                 max-width: 700px;
             }

             .hero-description {
                 font-size: 24px;
                 line-height: 36px;
             }

             .cta-button {
                 width: 360px;
                 height: 90px;
                 font-size: 32px;
                 border-radius: 12px;
             }

             .hero-phone .phone-mockup {
                 width: 100%;
                 height: auto;
                 position: relative;
                 display: inline-block;
                 left: 0;
                 top: 0;
             }

             .phone-mockup img {
                 display: block;
                 max-width: 100%;
                 height: auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 width: 360px;
                 height: 100px;
                 font-size: 24px;
                 padding: 12px 20px;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -20%;
             }

             .discover-explore-card {
                 top: 70%;
                 left: 40%;
             }

             .section-header {
                 font-size: 40px;
             }

             .section-header p {
                 font-size: 24px;
             }

             .features-grid {
                 grid-template-columns: repeat(3, 1fr);
                 gap: 20px;
                 margin-bottom: 60px;
                 margin: auto;
             }

             .feature-card {
                 width: 380px;
                 height: 250px;
                 padding: 40px;
             }

             .feature-card h3 {
                 font-size: 24px;
             }

             .feature-card p {
                 font-size: 18px;
                 line-height: 32px;
             }

             .connection-text h1 {
                 font-size: 64px;
                 line-height: 70px;
             }

             .connection-text p {
                 font-size: 20px;
                 line-height: 32px;
             }

             .connection-feature {
                 width: 500px;
                 height: 170px;
                 padding: 32px;
             }

             .connection-feature h4 {
                 font-size: 24px;
                 line-height: 36px;
             }

             .connection-feature p {
                 font-size: 20px;
                 line-height: 32px;
             }


             .connection-phones {
                 height: 400px;
             }

             .connection-phones {
                 position: relative;
                 height: 703px;
                 background-image: url('./image/Ellipse 1.png');
                 background-repeat: no-repeat;
                 background-position: center;
                 background-size: contain;
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }

             .installation h2 {
                 font-size: 50px;
                 line-height: 80px;
             }

             .installation .container .p {
                 width: 100%;
                 font-size: 18px;
                 line-height: 32px;
             }

             .line {
                 width: 300px;
             }

             .step-number {
                 font-size: 32px;
                 line-height: 36px;
             }

             .steps {
                 grid-template-columns: repeat(3, 1fr);
                 gap: 30px;
             }

             .step {
                 width: 100%;
                 max-width: 500px;
                 height: auto;
                 margin: 0 auto;
                 padding: 40px 30px;
             }

             .step h3 {
                 font-size: 22px;
                 line-height: 28px;
             }

             .step p {
                 font-size: 16px;
                 line-height: 24px;
             }

             /* Smile Section */
             .smile-text h1 {
                 font-size: 64px;
                 line-height: 110%;
             }

             .smile-text p {
                 font-size: 18px;
                 line-height: 32px;
                 max-width: 80%;
             }

             .smile-phones {
                 position: relative;
             }

             .half-phone {
                 position: absolute;
                 bottom: 0;
                 transform: translateX(-50%);
                 height: 180px;
             }

             .smile-phones .phone-mockup img {
                 height: 300px;
             }

             /* Testimonials */
             .testimonials h2 {
                 font-size: 50px;
                 line-height: 80px;
             }

             .testimonials-grid {
                 display: grid;
                 grid-template-columns: repeat(3, 1fr);
                 gap: 1.5rem;
                 margin-bottom: 3rem;

             }

             .testimonial {
                 max-width: 400px;
                 padding: 36px 28px;
                 margin: auto;
             }

             .testimonial p {
                 font-size: 24px;
             }

             .user span {
                 font-size: 24px;
             }

             .see-more {
                 width: 360px;
                 height: 100px;
                 font-size: 32px;
                 border-radius: 16px;
             }

             .final-smile-text .smile-text-final {
                 font-size: 24px;
                 line-height: 32px;
                 max-width: 80%;
             }

         }

         /*  768px to 1199px */
         @media (max-width: 1199px) and (min-width: 768px) {

             .container {
                 max-width: 100%;
                 padding: 0 40px;
             }

             /* Header */
             .logo img {
                 width: 250px;
                 height: 60px;
             }

             /* Hero Section */
             .hero {
                 height: auto;
                 padding: 120px 0 80px;
             }

             .hero-content {
                 display: grid;
                 grid-template-columns: 1fr;
                 align-items: center;
                 justify-items: center;
                 text-align: center;
                 padding: 2rem;
                 font-family: 'outfit' sans-serif;
             }

             .hero-text {
                 max-width: 800px;
                 margin: 0 auto;
             }

             .hero-text h1 {
                 font-size: 72px;
                 line-height: 80px;
                 max-width: 80%;
                 margin: auto;
             }

             .hero-description {
                 font-size: 20px;
                 line-height: 28px;
                 max-width: 100%;


             }

             .cta-button {
                 width: 200px;
                 height: 60px;
                 font-size: 18px;
                 border-radius: 10px;
             }

             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 300px;
                 height: 60%;
                 margin: 0 auto;
             }

             .hero-phone .phone-mockup {
                 width: 100%;
                 height: 100%;
                 position: relative;
                 display: inline-block;
                 left: 0;
                 top: 0;
             }

             .phone-mockup img {
                 display: block;
                 max-width: 100%;
                 height: auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 position: absolute;
                 width: 280px;
                 height: 80px;
                 font-size: 18px;
                 margin: 20px auto;
                 left: 0;
                 right: 0;
                 top: 0;
                 bottom: 0;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 120%;
                 left: 50%;
             }

             /* Features Section */
             .section-header {
                 font-size: 48px;
                 line-height: 80px;
                 padding-top: 60px;
             }

             .section-header p {
                 font-size: 20px;
             }

             .features-grid {
                 grid-template-columns: repeat(2, 1fr);
                 gap: 30px;
                 margin-bottom: 60px;
             }

             .feature-card {
                 width: 100%;
                 max-width: 500px;
                 height: auto;
                 margin: 0 auto;
                 padding: 30px;
             }

             .feature-card h3 {
                 font-size: 28px;
             }

             .feature-card p {
                 font-size: 18px;
                 line-height: 28px;
             }

             /* Connection Section */
             .connection-content {
                 grid-template-columns: 1fr;
                 gap: 60px;
             }

             .connection-phones {
                 height: 400px;
                 order: 2;
             }

             .phone-left,
             .phone-right {
                 margin-inline: 30%;
                 height: auto;
             }

             .connection-text {
                 order: 1;
                 text-align: center;
             }

             .connection-text h1 {
                 font-size: 48px;
                 line-height: 52px;
             }

             .connection-text p {
                 font-size: 18px;
                 line-height: 28px;
             }

             .connection-feature {
                 width: 100%;
                 max-width: 500px;
                 height: auto;
                 padding: 24px;
                 margin: auto;
             }

             .connection-feature h4 {
                 font-size: 24px;
                 line-height: 28px;
             }

             .connection-feature p {
                 font-size: 16px;
                 line-height: 24px;
             }

             /* Installation Section */
             .installation h2 {
                 font-size: 48px;
                 line-height: 52px;
             }

             .installation .container .p {
                 width: 100%;
                 max-width: 600px;
                 font-size: 18px;
                 line-height: 28px;
             }

             .number-container {
                 width: 100%;
                 max-width: 600px;
             }

             .line {
                 width: 200px;
             }

             .step-number {
                 font-size: 36px;
                 line-height: 40px;
             }

             .steps {
                 grid-template-columns: 1fr;
                 gap: 30px;
             }

             .step {
                 width: 100%;
                 max-width: 500px;
                 height: auto;
                 margin: 0 auto;
                 padding: 40px 30px;
             }

             .step h3 {
                 font-size: 24px;
                 line-height: 28px;
             }

             .step p {
                 font-size: 16px;
                 line-height: 24px;
             }

             /* Smile Section */
             .smile-content {
                 grid-template-columns: 1fr;
                 width: 90%;
                 text-align: center;
                 /* height:auto; */
             }

             .smile-text {
                 padding-top: 60px;
                 order: 1;
                 text-align: start;

             }

             .smile-text h1 {
                 font-size: 72px;
                 line-height: 110%;
             }

             .smile-text p {
                 font-size: 20px;
                 line-height: 32px;
                 max-width: 80%;
             }

             .half-phone {
                 display: none;
             }

             .smile-phones {
                 height: 400px;
                 order: 2;
             }

             .smile-phones .phone-mockup img {
                 left: 70%;
             }

             .final-smile-text .smile-text-final {
                 font-size: 1.5rem;
                 line-height: 40px;
                 max-width: 100%;
             }

             /* Testimonials */
             .testimonials h2 {
                 font-size: 48px;
                 line-height: 110%;
             }

             .testimonials-grid {
                 grid-template-columns: repeat(2, 1fr);
                 gap: 30px;
             }

             .testimonial {
                 max-width: 600px;
                 margin: 0 auto;
                 padding: 30px 24px;
             }

             .testimonial p {
                 font-size: 20px;
             }

             .user span {
                 font-size: 20px;
             }

             .see-more {
                 width: 280px;
                 height: 80px;
                 font-size: 24px;
                 margin-top: 60px;
             }
         }

         /*  Below 768px */
         @media (max-width: 767px) {
             .container {
                 padding: 0 20px;
             }

             /* Header */
             .header {
                 padding: 15px 0;
             }

             .logo img {
                 width: 200px;
                 height: 40px;
             }

             /* Hero Section */
             .hero {
                 height: auto;
                 padding: 100px 0 60px;
                 text-align: center;
             }

             .hero-content {
                 grid-template-columns: 1fr;
                 gap: 30px;
             }

             .hero-text h1 {
                 font-size: 48px;
                 line-height: 40px;
                 max-width: 100%;
                 margin: auto;
                 text-align: center;
             }

             .hero-description {
                 font-size: 16px;
                 line-height: 24px;
                 padding: 20px 0;
                 max-width: 80%;
                 margin: auto;
                 font-weight: 500;
             }

             .cta-button {
                 width: 180px;
                 height: 50px;
                 font-size: 16px;
                 border-radius: 8px;
             }

             .hero-phone {
                 position: relative;
                 left: 0;
                 top: 0;
                 width: 300px;
                 height: 60%;
                 margin: auto;

             }

             .hero-phone .phone-mockup {
                 width: 100%;
                 height: 100%;
                 position: relative;
                 display: inline-block;
                 left: 0;
                 top: 0;

             }

             .phone-mockup img {
                 display: block;
                 max-width: 100%;
                 height: auto;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 position: absolute;
                 width: 280px;
                 height: 80px;
                 font-size: 18px;
                 margin: 20px auto;
                 left: 0;
                 right: 0;
                 top: 0;
                 bottom: 0;
             }

             .seamless-connections-card {
                 top: 10%;
                 left: -40%;
             }

             .discover-explore-card {
                 top: 120%;
                 left: 40%;
             }


             /* Features Section */
             .features {
                 padding: 60px 0;
             }

             .section-header {
                 font-size: 32px;
                 line-height: 36px;
                 padding-top: 40px;
                 margin-bottom: 2rem;
             }

             .section-header p {
                 font-size: 16px;
                 padding-top: 15px;
             }

             .features-grid {
                 grid-template-columns: 1fr;
                 gap: 20px;
                 margin-bottom: 40px;
             }

             .feature-card {
                 width: 100%;
                 height: auto;
                 padding: 24px 20px;
                 border-radius: 16px;
             }

             .feature-card h3 {
                 font-size: 22px;
                 margin-bottom: 0.5rem;
             }

             .feature-card p {
                 font-size: 14px;
                 line-height: 22px;
                 max-width: 100%;
             }

             /* Connection Section */
             .connection-section {
                 padding: 60px 0;
                 margin-top: 60px;
             }

             .connection-content {
                 grid-template-columns: 1fr;
                 gap: 40px;
             }

             .connection-phones {
                 /* height: 40px; */
                 order: 2;
             }

             .phone-left,
             .phone-right {
                 margin-inline: 10%;
                 height: auto;
             }

             .phone-left {
                 top: auto;
                 height: auto;
             }

             .connection-text {
                 order: 1;
                 text-align: center;
             }

             .connection-text h1 {
                 font-size: 32px;
                 line-height: 36px;
                 margin-bottom: 1rem;
             }

             .connection-text p {
                 font-size: 14px;
                 line-height: 22px;
                 margin-bottom: 1.5rem;
             }

             .connection-features {
                 gap: 1rem;
             }

             .connection-feature {
                 width: 100%;
                 height: auto;
                 padding: 20px 16px;
                 border-radius: 16px;
             }

             .connection-feature h4 {
                 font-size: 18px;
                 line-height: 22px;
                 margin-bottom: 0.25rem;
             }

             .connection-feature p {
                 font-size: 14px;
                 line-height: 20px;
                 padding-left: 0;
             }

             /* Installation Section */
             .installation {
                 padding: 60px 0;
             }

             .installation h2 {
                 font-size: 32px;
                 line-height: 36px;
             }

             .installation .container .p {
                 width: 100%;
                 font-size: 14px;
                 line-height: 22px;
                 padding: 15px;
             }

             .number-container {
                 flex-direction: row;
                 align-items: center;
                 gap: 15px;
                 width: 100%;
                 height: auto;
                 padding: 15px;
             }

             .line {
                 width: 100px;
                 height: 1px;
             }

             .step-number {
                 font-size: 28px;
                 line-height: 32px;
                 padding-top: 10px;
             }

             .steps {
                 grid-template-columns: 1fr;
                 gap: 20px;
                 margin-top: 20px;
             }

             .step {
                 width: 100%;
                 height: auto;
                 padding: 24px 20px;
                 border-radius: 16px;
                 margin-top: 20px;
             }

             .step h3 {
                 font-size: 20px;
                 line-height: 24px;
             }

             .step p {
                 font-size: 14px;
                 line-height: 20px;
                 padding-top: 15px;
             }

             /* Smile Section */
             .smile-section {
                 width: 95%;
                 border-radius: 20px;
             }

             .smile-content {
                 grid-template-columns: 1fr;
                 width: 90%;
                 text-align: center;
             }

             .smile-text {
                 padding-top: 40px;
                 order: 1;
                 text-align: start;
             }

             .smile-text h1 {
                 font-size: 48px;
                 line-height: 110%;
                 margin-bottom: 1rem;
             }

             .smile-text p {
                 font-size: 16px;
                 line-height: 26px;
                 max-width: 90%;
                 /* margin: 0 auto 1.5rem; */
             }

             .smile-text img {
                 position: relative;
                 left: 0;
                 transform: none;
                 margin-top: 30px;
                 max-width: 150px;
             }

             .half-phone {
                 display: none;

             }

             .smile-phones {
                 height: 400px;
                 order: 2;
             }

             .smile-phones .phone-mockup img {
                 left: 70%;
             }



             /* Testimonials */
             .testimonials {
                 padding: 60px 0;
                 /* width: 50%; */

             }

             .testimonials h2 {
                 font-size: 32px;
                 line-height: 110%;
                 margin-bottom: 2rem;
             }

             .testimonials-grid {
                 gap: 20px;
                 margin-bottom: 2rem;
                 margin: auto;

             }

             .testimonial {
                 max-width: 100%;
                 padding: 20px 16px;
                 border-radius: 20px;
                 /* margin: auto; */
             }

             .testimonial p {
                 font-size: 16px;
                 line-height: 24px;
                 margin-bottom: 1rem;
             }

             .user {
                 gap: 1rem;
             }

             .user span {
                 font-size: 16px;
             }

             .see-more {
                 width: 250px;
                 height: 60px;
                 font-size: 18px;
                 border-radius: 12px;
                 margin-top: 40px;
             }

             .final-smile-text .smile-text-final {
                 font-size: 1rem;
                 line-height: 20px;
                 max-width: 100%;
             }
         }

         /* Below 480px */
         @media (max-width: 479px) {
             .container {
                 padding: 0 15px;
             }

             .hero-text h1 {
                 font-size: 36px;
                 line-height: 34px;
                 text-align: left;
                 padding-left: 20px;
             }

             .hero-description {
                 font-size: 16px;
                 max-width: 90%;
                 text-align: left;
                 margin: auto;
                 line-height: 20px;
             }

             .hero-text {
                 display: grid;
             }

             .section-header {
                 font-size: 24px;
                 line-height: 28px;
             }

             .connection-phones {
                 height: 400px;
             }

             .phone-right {
                 margin-inline: 10%;
             }

             .phone-left {
                 height: auto;
                 top: 100px;
             }

             .connection-text h1,
             .installation h2,
             .testimonials h2 {
                 font-size: 24px;
                 line-height: 28px;
             }

             .smile-text h1 {
                 font-size: 36px;
                 line-height: 110%;
             }

             .seamless-connections-card,
             .discover-explore-card {
                 width: 220px;
                 height: 50px;
                 font-size: 12px;
             }

             .discover-explore-card {
                 left: 20%;
             }

             .smile-phones {
                 height: 300px;
             }

             .see-more {
                 width: 200px;
                 height: 50px;
                 font-size: 16px;
             }

             .testimonials-grid {
                 grid-template-columns: 1fr;
             }
         }

         /* button */
         @media (max-width: 480px) {
             .buttons-wrapper {
                 flex-direction: column;
                 align-items: start;
                 gap: 15px;
             }

             .store-button {
                 width: 200px;
                 height: 65px;
             }

             .button-content {
                 padding: 10px 18px;
                 gap: 12px;
             }

             .apple-logo {
                 width: 30px;
                 height: 30px;
             }

             .google-play-logo {
                 width: 26px;
                 height: 26px;
             }

             .top-text {
                 font-size: 11px;
             }

             .bottom-text {
                 font-size: 19px;
             }
         }

         @media (max-width: 380px) {
             .store-button {
                 width: 180px;
                 height: 60px;
             }

             .button-content {
                 padding: 8px 16px;
                 gap: 10px;
             }

             .apple-logo {
                 width: 28px;
                 height: 28px;
             }

             .google-play-logo {
                 width: 24px;
                 height: 24px;
             }

             .top-text {
                 font-size: 10px;
             }

             .bottom-text {
                 font-size: 18px;
             }
         }

         @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
             .store-button {
                 border-width: 0.5px;
             }
         }

         @media print {
             .store-button {
                 box-shadow: none;
                 border: 2px solid #000000;
             }
         }